.wrapMobileDetail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: center;
}

.mobileDetailContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: white;
}

.fullGridrow {
  grid-column: span 2;
}

.mobileDetailPriceContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.mobileDetailOldPrice {
  color: gray;
  font-size: 13px;
  text-decoration-line: line-through;
  margin-left: 10px;
}

.mobileDetailNewPrice {
  font-size: 18px;
  color: black;
  color: #f3a63e;
}
