.errorContainer {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: lightslategrey;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.notFound {
  cursor: pointer;
}
